:root {
  /* основной цвет текста #757575 */
  --main-text-color: #757575;
  /* вторичный цвет текста #212121 */
  --secondary-text-color: #212121;
  /* акцент #2196F3 */
  --accent-color: #2196f3;
  /* цвет лого */
  --logo-text-color: #000000;
  /* основной цвет заливки #E5E5E5 */
  /* --main-background-color: #e5e5e5; */
  /* вторичный цвет заливки #FFFFFF */
  --secondary-background-color: #ffffff;
  /* цвет текста героя */
  --hero-text-color: #ffffff;
  /* заливка героя #2F303A */
  --hero-background-color: #2f303a;
  /* заливка кнопки героя при фокусе #188CE8 */
  --hero-button-hover-color: #188ce8;
  /* заливка команды */
  --team-background-color: #f5f4fa;
  /* цвет ссылок в футере */
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

/* стилизация всей страницы */

/* roboto 400,500,700,900 */
/* raleway 700 */
body {
  /* background-color: var(--main-background-color); */
  color: var(--main-text-color);
  /* системные шрифты font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; */
  font-family: roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, noto, arial, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Утилиты */
/* убирает точки и левый отступ у списков*/
.list {
  list-style: none;
  padding: 0;
}
/* убирает подчеркивание ссылок */
.link {
  text-decoration: none;
}
/* скрывает визуально контент */
.concealer {
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
/* обнуление внешних отступов */
h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* закругленные края кнопок */
.button {
  border: 1px solid transparent;
  border-radius: 4px;
}
/* контейнер для центрирования и ограничения контента по ширине */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid red; */
}
/* контейнер секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* класс для стилизации изображений */
.image {
  display: block;
  width: 100%;
  height: auto;
}
/* задание свойства флекс */
.flex {
  display: flex;
}
/* конец Утилит */

/* стили шапки */
.header {
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
/* логотип */
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-text {
  color: var(--logo-text-color);
}
.header-logo {
  margin-right: 93px;
}
.header-list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
/* выделение текущей страницы в навигации */
.header-link--current {
  color: var(--accent-color);
}
/* Контакты */
.header-link--contacts {
  color: var(--main-text-color);
}

/* стили героя */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: var(--hero-text-color);
  background-color: var(--hero-background-color);
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  /* у самой кнопки с классом .button граница 1 px */
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero .button:hover,
.hero .button:focus,
.hero .button:active {
  /* color: var(--accent-color); */
  background-color: var(--hero-button-hover-color);
}
/* стили особенностей */
.feature {
  padding-bottom: 47px;
}
.feature-list {
  display: flex;
}
.feature-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.feature-item {
  width: calc((100% - 90px) / 4);
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

/* заголовок секций */
.title {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

/* стили чем мы занимаемся*/
.what {
  padding-top: 47px;
}
.what-list {
  display: flex;
}
/* ширина карточки */
.what-item {
  width: calc((100% - 60px) / 3);
}
/* оступы между карточками */
.what-item:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}
/* стили команды */
.team {
  background-color: var(--team-background-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list {
  display: flex;
}
/* стили карточки команды */
.team-item {
  width: calc((100% - 90px) / 4);
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  padding-bottom: 30px;
  background-color: var(--secondary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* имя члена команды */
.team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
  color: var(--secondary-text-color);
}
/* стили футера */
.footer {
  padding: 60px 0;
  background-color: var(--hero-background-color);
}
.footer-text {
  color: var(--hero-text-color);
  font-style: normal;
}
.address {
  margin-top: 20px;
}
.footer-link {
  margin-top: 9px;
  color: var(--footer-link-color);
  font-style: normal;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* стили портфолио */
/* фильтр */

.filter {
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
/*стили кнопок*/
.filter-button {
  /* у самой кнопки с классом .button граница 1 px */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 21px;
  padding-right: 21px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--secondary-text-color);
}
/* эффекты кнопок при hover focus */
.filter-button:hover,
.filter-button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* отступы между кнопками фильтра  */
.filter-item:not(:last-child) {
  margin-right: 8px;
}

/* собственно портфолио */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
/* ширина карточки */
.portfolio-item {
  width: calc((100% - 60px) / 3);
  background-color: var(--secondary-background-color);
}
/* оступы между карточками */
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
/* название продукта */
.portfolio-subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
/* тип продукта */
.portfolio-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* нижняя часть карточки */
.portfolio-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
